
        <head>
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                <script src="./static/data/description_word_count.json"></script>
              </head>
        <body>
                <script>
                    var jsonData = JSON.parse(desc_word_count);
                    Highcharts.chart('container2', {
                    chart: {
                            type: 'bar'
                            },
                    title: {
                            text: 'Average words used in ticket description'
                            },
                    subtitle: {
                            text: ''
                            },
                    xAxis: {
                            categories: jsonData.x_axis,
                            title: {
                                    text: null
                                    }
                            },
                            yAxis: {
                                    min: 0,
                            title: {
                                    text: '',
                                    align: 'high'
                            },
                            labels: {
                                    overflow: 'justify'
                                    }
                            },
                    tooltip: {
                            valueSuffix: ' '
                            },
                    plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                            }
                                }
                                },
                    legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 80,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                            shadow: true
                            },
                    credits: {
                            enabled: false
                            },
                    series: [{
                            name: 'Average Words',
                            data: jsonData.y_axis
                            }]
                    });
                </script>
                </body>
