{% include 'header.html' %}

<div class='container'>
                <form action="/dashboard" method="post">
                        <div class="form-group">
                          <label for="jira-url">Jira url</label>
                          <input type="url" class="form-control" name="jira-url"  placeholder="Enter url" default>
                        </div>
                        <div class="form-group">
                          <label for="user-name">Username</label>
                          <input type="textbox" class="form-control" name="user-name" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="passwd">Password</label>
                            <input type="password" class="form-control" name="passwd" placeholder="password">
                        </div>
                        <div class="form-group">
                                <label for="project-name">Project</label>
                                <input type="textbox" class="form-control" name="project-name" placeholder="project name">
                        </div>
                        <div class="form-group">
                            <label for="last-n-days">No of days to be tracked</label>
                            <input type="textbox" class="form-control" name="no-of-days"aria-describedby="noofdayshelp" placeholder="last n days">
                            <small id="noofdayshelp" class="form-text text-muted">Enter the last n days the data has to be fetched.</small>
                          </div>
                        </div>
                        <div class="form-group text-center">
                                <input type="submit">
                        </div>
                </form>

    </form>

</div>